<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7badd3">  <td>22/10/03 16:50:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="finzySearch.duckDuckGoSearch()[pri:0, instance:dockDockGoSearch.finzySearch@38c5cc4c]">duckDuckGoSearch</td> 
  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="7badd3">  <td>22/10/03 16:50:31</td>   <td>-2862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;finzySearch.beforeMethod()[pri:0, instance:dockDockGoSearch.finzySearch@38c5cc4c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="7badd3">  <td>22/10/03 16:50:31</td>   <td>-2862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;finzySearch.beforeMethod()[pri:0, instance:dockDockGoSearch.finzySearch@38c5cc4c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="7badd3">  <td>22/10/03 16:50:28</td>   <td>-6389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="finzySearch.beforeMethod()[pri:0, instance:dockDockGoSearch.finzySearch@38c5cc4c]">beforeMethod</td> 
  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="7badd3">  <td>22/10/03 16:50:37</td>   <td>2637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;finzySearch.afterMethod()[pri:0, instance:dockDockGoSearch.finzySearch@38c5cc4c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="7badd3">  <td>22/10/03 16:50:37</td>   <td>2637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;finzySearch.afterMethod()[pri:0, instance:dockDockGoSearch.finzySearch@38c5cc4c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
</table>
