<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Finzy</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc67c2">  <td>22/10/03 17:22:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="finzySearch.duckDuckGoSearch()[pri:0, instance:dockDockGoSearch.finzySearch@1a04f701]">duckDuckGoSearch</td> 
  <td>TestNG-tests-1@732489614</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>22/10/03 17:22:09</td>   <td>2555</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;finzySearch.afterMethod()[pri:0, instance:dockDockGoSearch.finzySearch@1a04f701]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@732489614</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>22/10/03 17:22:02</td>   <td>-4846</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;finzySearch.beforeMethod(java.lang.String)[pri:0, instance:dockDockGoSearch.finzySearch@1a04f701]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@732489614</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>22/10/03 17:22:13</td>   <td>6192</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;finzySearch.afterMethod()[pri:0, instance:dockDockGoSearch.finzySearch@47d90b9e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@38552113</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>22/10/03 17:22:11</td>   <td>4274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="finzySearch.duckDuckGoSearch()[pri:0, instance:dockDockGoSearch.finzySearch@47d90b9e]">duckDuckGoSearch</td> 
  <td>TestNG-tests-2@38552113</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>22/10/03 17:22:02</td>   <td>-4846</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;finzySearch.beforeMethod(java.lang.String)[pri:0, instance:dockDockGoSearch.finzySearch@47d90b9e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@38552113</td>   <td></td> </tr>
</table>
